<div>
    <h2 id="page-heading">
        <span>Коды студентов</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-correct-codes" [routerLink]="['/correct-codes/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Создать новый код студента
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="correctCodes?.length === 0">
        <span>No correctCodes found</span>
    </div>
    <div class="table-responsive" *ngIf="correctCodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let correctCodes of correctCodes ;trackBy: trackId">
                <td><a [routerLink]="['/correct-codes', correctCodes.id, 'view' ]">{{correctCodes.id}}</a></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/correct-codes', correctCodes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Просмотреть</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/correct-codes', correctCodes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Изменить</span>
                        </button>
                        <button type="submit" (click)="delete(correctCodes)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Удалить</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
