<div>
    <h2 id="page-heading">
        <span>Ответы</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answers" [routerLink]="['/answers/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
                Создать новый ответ
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="answers?.length === 0">
        <span>No answers found</span>
    </div>
    <div class="table-responsive" *ngIf="answers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Содержимое ответа</span></th>
            <th scope="col" ><span>Правильный ответ</span></th>
            <th scope="col" ><span>Вопрос</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answers of answers ;trackBy: trackId">
                <td><a [routerLink]="['/answers', answers.id, 'view' ]">{{answers.id}}</a></td>
                <td>{{answers.answerContent}}</td>
                <td>{{answers.rightAnswer}}</td>
                <td>
                    <div *ngIf="answers.questions">
                        <a [routerLink]="['/questions', answers.questions?.id, 'view' ]" >{{answers.questions?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/answers', answers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Просмотреть</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answers', answers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Изменить</span>
                        </button>
                        <button type="submit" (click)="delete(answers)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Удалить</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
