<div>
    <h2 id="page-heading">
        <span>Разделы</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course-parts" [routerLink]="['/course-parts/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
           Создать новый раздел
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="courseParts?.length === 0">
        <span>No courseParts found</span>
    </div>
    <div class="table-responsive" *ngIf="courseParts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Номер раздела</span></th>
            <th scope="col" ><span>Ссылка для скачивания</span></th>
            <th scope="col" ><span>Описание</span></th>
            <th scope="col" ><span>Название</span></th>
            <th scope="col" ><span>Количество вопросов</span></th>
            <th scope="col" ><span>Студенты</span></th>
            <th scope="col" ><span>Курсы</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let courseParts of courseParts ;trackBy: trackId">
                <td><a [routerLink]="['/course-parts', courseParts.id, 'view' ]">{{courseParts.id}}</a></td>
                <td>{{courseParts.npart}}</td>
                <td>{{courseParts.downloadLink}}</td>
                <td>{{courseParts.downloadDescription}}</td>
                <td>{{courseParts.testName}}</td>
                <td>{{courseParts.testQuestionCount}}</td>
                <td>
                    <span *ngFor="let userTests of courseParts.userTests; let last = last">
                            <a class="form-control-static" [routerLink]="['/students-tests', userTests?.id, 'view' ]">{{userTests.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="courseParts.courses">
                        <a [routerLink]="['/courses', courseParts.courses?.id, 'view' ]" >{{courseParts.courses?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/course-parts', courseParts.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/course-parts', courseParts.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(courseParts)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
