<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-course-parts-heading">Create or edit a Course Parts</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_npart">Npart</label>
                    <input type="number" class="form-control" name="npart" id="field_npart"
                           formControlName="npart"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_downloadLink">Download Link</label>
                    <input type="text" class="form-control" name="downloadLink" id="field_downloadLink"
                           formControlName="downloadLink"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_downloadDescription">Download Description</label>
                    <input type="text" class="form-control" name="downloadDescription" id="field_downloadDescription"
                           formControlName="downloadDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testName">Test Name</label>
                    <input type="text" class="form-control" name="testName" id="field_testName"
                           formControlName="testName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testQuestionCount">Test Question Count</label>
                    <input type="number" class="form-control" name="testQuestionCount" id="field_testQuestionCount"
                           formControlName="testQuestionCount"/>
                </div>

                <div class="form-group">
                    <label for="field_userTests">User Tests</label>
                    <select class="form-control" id="field_userTests" multiple name="userTests" formControlName="userTests">
                        <option [ngValue]="getSelected(editForm.get('userTests').value, studentsTestsOption)" *ngFor="let studentsTestsOption of studentstests; trackBy: trackStudentsTestsById">{{studentsTestsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_courses">Courses</label>
                    <select class="form-control" id="field_courses" name="courses" formControlName="courses">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="coursesOption.id === editForm.get('courses').value?.id ? editForm.get('courses').value : coursesOption" *ngFor="let coursesOption of courses; trackBy: trackCoursesById">{{coursesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
