<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="courseParts">
            <h2><span>Course Parts</span> {{courseParts.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Npart</span></dt>
                <dd>
                    <span>{{courseParts.npart}}</span>
                </dd>
                <dt><span>Download Link</span></dt>
                <dd>
                    <span>{{courseParts.downloadLink}}</span>
                </dd>
                <dt><span>Download Description</span></dt>
                <dd>
                    <span>{{courseParts.downloadDescription}}</span>
                </dd>
                <dt><span>Test Name</span></dt>
                <dd>
                    <span>{{courseParts.testName}}</span>
                </dd>
                <dt><span>Test Question Count</span></dt>
                <dd>
                    <span>{{courseParts.testQuestionCount}}</span>
                </dd>
                <dt><span>User Tests</span></dt>
                <dd>
                    <span *ngFor="let userTests of courseParts.userTests; let last = last">
                        <a [routerLink]="['/students-tests', userTests?.id, 'view' ]">{{userTests.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Courses</span></dt>
                <dd>
                    <div *ngIf="courseParts.courses">
                        <a [routerLink]="['/courses', courseParts.courses?.id, 'view']">{{courseParts.courses?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course-parts', courseParts.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
