<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="students">
            <h2><span>Students</span> {{students.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{students.login}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{students.password}}</span>
                </dd>
                <dt><span>Surname</span></dt>
                <dd>
                    <span>{{students.surname}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{students.name}}</span>
                </dd>
                <dt><span>Middlename</span></dt>
                <dd>
                    <span>{{students.middlename}}</span>
                </dd>
                <dt><span>Ngroup</span></dt>
                <dd>
                    <span>{{students.ngroup}}</span>
                </dd>
                <dt><span>Registration Date</span></dt>
                <dd>
                    <span>{{students.registrationDate}}</span>
                </dd>
                <dt><span>Sex</span></dt>
                <dd>
                    <span>{{students.sex}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{students.email}}</span>
                </dd>
                <dt><span>Is Admin</span></dt>
                <dd>
                    <span>{{students.isAdmin}}</span>
                </dd>
                <dt><span>Student Code</span></dt>
                <dd>
                    <div *ngIf="students.studentCode">
                        <a [routerLink]="['/correct-codes', students.studentCode?.id, 'view']">{{students.studentCode?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/students', students.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
